[Desktop Entry]
Version=1.0.0
Name=ScreenshotDecoder
Comment=App for decoding a screenshot code
Exec=java -jar /home/leerikss/dev/screenshot-decoder/target/screenshot-decoder-1.0.0.jar
Icon=/home/leerikss/dev/screenshot-decoder/src/main/resources/icons/screenshot-decoder.png
Terminal=false
Type=Application
Categories=Utility;Application;
